/*----------------------Fix a schedule styling starts-------------------------------------*/
#calendarButton{
  background-color: rgb(58, 4, 4);
  padding: 0.55%;
  height: 33%;
  width: 33%;
  max-width: 150px;
  max-height: 150px;
  border-radius: 10px;
}

#calendarSpan{
  color: white;
  font-size: 120%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#formcal{
  text-align: center;
  margin-top: 15%;
}

#formcal p {
  color: gray;
  font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}

#calendarButton:hover 
{
border: 1px solid #a4a4a4;
border-top: 2px solid #b2b2b2;
font-weight: bold;
}

#calendarButton:active 
{
  background-color: rgb(102, 5, 5);
}
/*----------------------Fix a schedule styling ends---------------------------------------*/


table {
  text-align: center;
  width: 100%;
}
td 
{
  padding: 5px;
}

input#submit 
{
  border-radius: 5px;
  padding: 5px;
  background-repeat: no-repeat;
  font-family: Georgia, Times, serif;
  background-color: rgb(58, 4, 4);
  color: white;
}
  
input#submit:hover 
{
  border: 1px solid #a4a4a4;
  border-top: 2px solid #b2b2b2;
  font-weight: bold;
}
  
input#submit:active
{
  color: #0f38ec;
  border: 1px solid #a4a4a4;
  border-top: 2px solid #b2b2b2;
  background-color: #a0dbc4;
  
}