
#formId
{
 margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  min-height: 400px;
  max-height: 500px;
  max-width: 400px;
  background-color: black;
  color: white;
  border: thin solid rgb(58, 4, 4);
  border-radius: 5px;
  padding: 15px 25px 15px 15px;
  font-weight: 1,2;
  font-family: Georgia, Times, serif;
  font-weight: bold;
  line-height: 2em;
  text-align: justify;
}
  
#formId input 
{
  font-size: 100%;
  width: 200%;
  font-family: Arial, Verdana, sans-serif;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: block;
}

#formId #describe
{
    width: 211%;
    min-width: 211%;
    max-width: 211%;
    height: 70%;
    min-height: 70%;
    max-height: 70%;
}
  
#formId input#submit 
{
  font-family: Georgia, Times, serif;
  border-bottom: 2px silver;
  width: 25%;
  background-color: rgba(217, 218, 159, 0.925);
  margin-left: 75%;
  
}
  
#formId input#submit:hover 
{
  border: 1px solid #a4a4a4;
  border-top: 2px solid #b2b2b2;
  font-weight: bold;
}
  
#formId input#submit:active
{
  color: #0f38ec;
  border: 1px solid #a4a4a4;
  border-top: 2px solid #b2b2b2;
  background-color: #a0dbc4;
  font-weight: bold;
  
}
#formId .calendarEvents
{
  text-align: right;
}
#formId a
{
  font-weight:normal;
  color:lime;
}
#formId a:hover
{
  font-style: italic;
  color:lime;
}
